In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Reading data using pandas and using DataFrame
df = pd.DataFrame(pd.read_csv('/content/train (1).csv'))
df.head()

In [ ]:
# Getting shape of dataset
df.shape

In [ ]:
#Calculating Null Values of DataSet
df.isnull().sum()

In [ ]:
#dropping the columns having null values more than 35% of data

x = df.isnull().sum()
drop_col = x[x>(35/100 * df.shape[0])]
drop_col

In [ ]:
drop_col.index

In [ ]:
#Dropping col with the NaN values as specified
df.drop(drop_col.index,axis = 1,inplace=True)
df.isnull().sum()

In [ ]:
#filling mean values to all Nan Values <int>
df.fillna(df.mean(),inplace=True)
df.isnull().sum()

In [ ]:
#Embarked is string hence not have null values 
#thus having details of Embarked to know the highest frequency
df['Embarked'].describe()

In [ ]:
df['Embarked'].fillna('S',inplace = True)
df.isnull().sum()

In [ ]:
#correlation
df.corr()

In [ ]:
#sibsp: No. of Siblings/Spouses Abroad
#parch: No. of Parents/Children Abroad

#Creating a new col Family size

df['FamilySize'] = df['SibSp']+df['Parch']
df.drop(['SibSp','Parch'], axis=1,inplace = True)
df.corr()

In [ ]:
#check whether a person was alone or not

#sb.countplot(data = df, x = 'FamilySize')
#df.groupby(['Alone'])['Survived'].mean()


df['Alone'] = [0 if df['FamilySize'][i]>0
               else 1
               for i in df.index]

In [ ]:
df.head()

In [ ]:
#calculating mean of alone

df.groupby(['Alone'])['Survived'].mean()

In [ ]:
#concludes the fare of alone person
s = df[['Alone','Fare']].corr()
s

In [ ]:
# 1 for female, 0 for male
#who have more chances of survival M/F

df['Sex'] = ['Male' if df['Sex'][i] == 'male' else 'Female' for i in df.index]

df.groupby(['Sex'])['Survived'].mean()

In [ ]:
df.groupby(['Embarked'])['Survived'].mean()

# CONCLUSIONS:
*   Female passengers were prioritized over men.
*   People with high class or rich people have higher survival rate than others. The hierchy might have been followed while saving the passengers.
*   Passengers travelling with their families have higher survival rate.
*   Passengers who borded the ship at Cherbourg, survived more in proportion than the others.